body {
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
