@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Aguafina Script', cursive;
    background: orange;
}

.container{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;   
}

.gorceries{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
}

.gorceries h1{
    font-size: 2.5rem;
    margin-top: 1rem;
}