@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");

body {
  font-family: "Pixelify Sans", cursive;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 22px;
  background-color: black;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
