body {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  background: conic-gradient(
    from 90deg at 40% -25%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital-clock {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.digital-clock h1 {
  display: inline-block;
  margin: 0 10px;
  font-size: 5rem;
}

@media (max-width: 768px) {
  #bar-1,
  #bar-2 {
    display: none;
  }
  .digital-clock {
    text-align: center;
    width: 100%;
  }
  .digital-clock h1 {
    display: block;
  }
}

@media (max-width: 480px) {
  .digital-clock h1 {
    font-size: 4rem;
  }
}
