@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

.container {
  background: black;
  border: 2px solid black;
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-colors {
  border: 1px solid white;
  text-align: center;
}

.hex-colors h1 {
  font-size: 2rem;
  text-transform: uppercase;
  animation: changecolor 5s infinite alternate;
}

.hex-colors h2 {
  border: 1px solid white;
  font-size: 2rem;
  margin-top: 15%;
}

@keyframes changecolor {
  0% {
    color: indigo;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@media (max-width: 480) {
  .hex-colors h1 {
    font-size: 1.5rem;
  }

  .hex-colors h2 {
    font-size: 1.5rem;
  }
}
