@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

body {
  font-family: "Aldrich", sans-serif;
  overflow: hidden;
  background: black;
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  border: 3px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: auto;
  padding: 12px;
  color: white;
  background: yellowgreen;
}

.timer-container h1 {
  display: inline-block;
  margin: 0 10px;
  font-size: 5rem;
}

@media (max-width: 768px) {
  .timer-container {
    text-align: center;
    width: 100%;
  }

  .timer-container h1 {
    display: block;
    font-size: 3rem;
  }
}

@media (max-width: 653px) {
    .timer-container{
        width: 95%;
    }
    .timer-container h1{
        font-size: 2rem;
    }
}
